---
type Props = {
  images: string[];
  alts: string[];
};

const { images, alts } = Astro.props;
---

<section class="mobile-screens">
  {
    images.map((image, index) => (
      <figure class="mobile-screen">
        <img src={image} alt={alts[index] ?? ""} width="375" loading="lazy" />
      </figure>
    ))
  }
</section>
